.container_sales {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}

input {
    border: 2px solid black;
    background: hsl(0 0% 93%);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

button {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(74, 73, 75);
    padding: 10px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(87, 84, 90, 0.4);
}

.discount {
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
    padding: 20px;
}
